<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multitouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14EB17771CE53DCB00A5BDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14EB178F1CE53DCB00A5BDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14EB179A1CE53DCB00A5BDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
